@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100vh; /* Magic here */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: absolute;
    top: max(24vh, 240px) /* add max pixels to prevent overlay */
}

.bar-container {
    position: absolute;
    top: max(36vh, 360px) /* add max pixels to prevent overlay */
}

#top-predictions-container {
    position: absolute;
    top: max(46vh, 460px) /* add max pixels to prevent overlay */
}

#show-more-button-container {
    position: absolute;
    top: max(55vh, 550px)
}

#more-predictions-container {
    position: absolute;
    top: max(60vh, 600px) /* add max pixels to prevent overlay */
}


input[type=text] {
    background-color: white;
    width: max(36vw, 280px);
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    border-radius: 16px;
    border: 2px solid rgb(220, 220, 220)
}

input[type=text]:focus {
    outline: none !important;
    background-color: white;
}

input[type=text]:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.button-container {
    text-align: center
}

button {
    background-color: rgb(220, 220, 220);
    color: rgb(57, 57, 57);
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 5px;
    border: 0px solid;
    margin: 16px 0px;
    cursor: pointer;
}

button:hover {
    border: 2px solid rgb(191, 191, 191);
    margin: 14px 0px;
}

button:active {
    border: 2px solid rgb(132, 209, 235);
    margin: 14px 0px;
}

button:disabled{
    border: 2px solid rgb(132, 209, 235) !important;
    margin: 14px 0px;
    background-color: rgb(170, 170, 170);
    color: rgb(57, 57, 57);
}

.predictions-list {
    list-style-type: none;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px
}

.predictions-details {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: pre-line
}

.predictions-details > dt {
    width: 150px;
    word-wrap: break-word;
    text-align: center;
    font-size: 22pt;
    padding-right: 10px;
    margin: auto
}

.predictions-details > dd {
    width: 150px;
    text-align: center;
    font-size: 14pt;
    padding-left: 10px;
    margin: auto
}

.spinner-container {
    position: absolute;
    right: 2.5%;
    top: 14%
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.loading-spinner {
    width: 10px;
    height: 10px;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }